{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div id="map"></div>

       <div class='parent'>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Méthode 1</h5>
          <br><p class="card-text">Trouvez votre localisation idéale en choisissant la <b>présence</b> de certains lieux. 
          <br><i>Par exemple, "je cherche une localisation avec une école, une boulangerie et un cinéma UGC"</i></p>.
          <br><a href="/app1" class="btn btn-dark" role="button">Testez !</a></br>
        </div>
      </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Méthode 2</h5>
            <br><p class="card-text">Trouvez votre localisation idéale en choisissant le <b>nombre</b> de certains lieux. 
              <br><i>Par exemple, "je cherche une localisation avec 3 cinémas, 2 jardins et 1 banque"</i></p>.
              <br><a href="/app2" class="btn btn-dark" role="button">Testez !</a>
          </div>
      </div>
    </div>

     <!--Script Bootstrap--> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
  </body>

  <script type="text/javascript">
    var map = L.map('map').setView([48.9, 2.3360300], 10);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  
   
    </script>
  
  {% endblock %}
  
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js">