{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div id="set_map"></div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">A vous de jouer !</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Sélectionnez le nombre de lieux de votre choix.</p>

    {% for key,value in list_of_choices.items() %}
    <form action="{{url_for('predict_app2')}}" method="post">
      <strong>{{value.name}}</strong>
      <select name="comp_select{{key}}" class="Input">
      <br>
      {% for i in range(0,11) %}
      <option value="{{i}}">{{i}}</option>
      {% endfor %}
    </select><br><br>

    {% endfor %}

      <button type="submit" class="pred-btn"> Trouvez mon lieu idéal ! </button>
    </form>  
    </div>
      <br>
      <br>
  </div>
</div>
<div>
  <a class="btn btn-dark filter" data-bs-toggle="offcanvas" href="#offcanvasWithOptions" role="button" aria-controls="offcanvasWithOptions">
    Filtrer
  </a>
  <a class="btn btn-dark filter" id="menu_right" href="/" role="button">
    Retour au menu principal
</a>
</div> 


<script type="text/javascript">
  var map = L.map('set_map').setView([48.9, 2.3360300], 10);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

 
  </script>

{% endblock %}

<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

