{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div id="set_map"></div>
<div id="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5> Que recherchez vous dans la zone?</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

<input id="input" type="range" min="0" value="1" max="3" step="1" style="width:80% ; position:block; margin-left: auto; margin-right: auto">
<div id="output" style="width:80% ; position:block; margin-left: auto; margin-right: auto"></div>

<script language="JavaScript">
var values = [500,1000,5000,10000];
var input = document.getElementById('input'),
   output = document.getElementById('output');
input.oninput = function(){
    output.innerHTML = values[this.value];
};
input.oninput();


</script>

  <div class="offcanvas-body">
    <form id = "myform"  onsubmit="return false">
      {% for key,value in list_of_choices.items() %}
        <div class = "section_category" id = "{{key}}">
          <strong>{{value.groupe}}</strong>
            {% if value.category %}
              <div class = "section_header">
                <input class="form-check-input" type="checkbox" id="champ1"onClick="toggle(this, '{{key}}')" /> <label>{{value.name}} (tous types) </label>
                <button id ="but-{{loop.index0}}" type="button" class="collapsible" onClick = "collapse(this)"><img srcset="https://img.icons8.com/external-others-inmotus-design/134/external-Down-virtual-keyboard-others-inmotus-design-5.png 2x" alt="Down" loading="lazy" onload="this.setAttribute('lazy', 'loaded')" onerror="this.setAttribute('lazy', 'error')" style="width: 18px; height: 18px;" lazy="loaded">       </button> 
              </div>
              <div class = "content {{loop.index0}}">
              {% for element in value.category %}
                <div class = "section_checkboxes">
                  <label class="form-check">
                    <input class="form-check-input real {{key}}" type="checkbox" name = "user_demand" value="{{key}}{{loop.index0}}">
                    <span class="form-check-label">
                      {{element}}
                    </span>
                  </label> 
                </div>
              {% endfor %}
              {% if value.title %} 
              <div>
                 <span>Un nom vous revient ? </span>
                <input type="text" class="form-control" aria-label="Default" name = "name_{{key}}" aria-describedby="inputGroup-sizing-default">
              </div>
              {% endif %}
            </div>  
 
            {% elif value.title %} 
            <div class = "section_header">
              <input class="form-check-input" type="checkbox" id="champ1"onClick="toggle(this, '{{key}}')" /> <label>{{value.name}}</label>
              <button id ="but-{{loop.index0}}" type="button" class="collapsible" onClick = "collapse(this)"><img srcset="https://img.icons8.com/external-others-inmotus-design/134/external-Down-virtual-keyboard-others-inmotus-design-5.png 2x" alt="Down" loading="lazy" onload="this.setAttribute('lazy', 'loaded')" onerror="this.setAttribute('lazy', 'error')" style="width: 18px; height: 18px;" lazy="loaded">       </button> 
            </div>
            <div class = "content {{loop.index0}}">
              <span>Un nom vous revient ? </span>
              <input type="text" class="form-control" aria-label="Default" name = "name_{{key}}" aria-describedby="inputGroup-sizing-default">
            </div>


            {%else%}
            <div class = "section_header">
              <input class="form-check-input real" type="checkbox" name = "user_demand" value="{{key}}">
              {{value.name}}
            </div>   

            {% endif %}
        </div>    
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-block btn-large" onClick = getValues()>Trouvez des lieux</button>  

    </form>
  </div>
</div>
<div>
  <a class="btn btn-dark filter" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Filtrer
  </a>

  <a class="btn btn-dark filter" id="menu_right" href="/" role="button">
    Retour au menu principal
</a>
</div>

<script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>


<script language="JavaScript">
  function toggle(source, key) {
  checkboxes = document.getElementsByClassName("form-check-input "+key);
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
} 
</script>

<script language="JavaScript">
function getRandomSubarray(arr, size) {
    var shuffled = arr.slice(0), i = arr.length, min = i - size, temp, index;
    while (i-- > min) {
        index = Math.floor((i + 1) * Math.random());
        temp = shuffled[index];
        shuffled[index] = shuffled[i];
        shuffled[i] = temp;
    }
    return shuffled.slice(min);
}

  function getValues() {
    var array_checkboxes = []
    var array_inputs = {}

    var markedCheckbox = document.querySelectorAll('input[type="checkbox"]:checked.real');

    for (var checkbox of markedCheckbox) {  
      array_checkboxes.push(checkbox.value);  
    }
    
    var textInputs = document.querySelectorAll('input[type="text"]');  
    for (var text of textInputs) {  
      array_inputs[text.name] = text.value;  
  }
    var distance = values[document.getElementById('input').value];
  

  if (window.myLayer)
    { window.myLayer.clearLayers()}

  window.myLayer = L.geoJSON().addTo(map);

  var data =  JSON.stringify({"checkboxes": array_checkboxes, "inputs": array_inputs, "distance":distance})
  const process_demand = "{{ url_for('update_map_api') }}"
  console.log(data)
  document.getElementById('lds-spinner').style.display = 'block';

    fetch(process_demand,  {method: "POST", body:  data,  headers: {
    'Content-Type': 'application/json'
  } 
  })
    .then(response => response.json())
    .then(data => {
        //  try { 
          // data = JSON.parse(data);
            locations = JSON.parse(data[1])
            const detail = data[2]
            document.getElementById('lds-spinner').style.display = 'none';
            console.log(locations)
            console.log(detail)

            const arr = ['centroid', 'coordinates', 'polygon'];
            counts = {}
            for (key in detail) {
                element = detail[key];
                counts[key] = {"id": detail[key]["_id"]};
                counts[key]["item"] = [];
                counts[key]["num"] = [];
                counts[key]["centroid"] = element["_source"]["centroid"];
                counts[key]["coordinates"] = element["_source"]["coordinates"];

                for (item in element["_source"]) {
                    if (!arr.includes(item)) {
                        counts[key]["item"].push(item)
                            counts[key]["num"].push(element["_source"][item].length)
                    };       
                }}

            

              var layerGroup =  L.geoJSON(locations, {
                pointToLayer: function(feature, latlng) {
              return new L.Circle(latlng, {
                radius: distance,
                color: 'Blue'
              });},
                
                onEachFeature: function (feature, layer) {
                  
                layer.bindPopup('<h5 style= "text-align:center; font-size: 14px; margin-left:80px;font-weight:550; margin-bottom:10px">La zone autour de ce lieu répond à vos critères!</h5><div id="gmap" style="width: 100%"><iframe margin-top: 20px width="400px" height="200px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q='+counts[feature.id]["centroid"].split("(")[1].split(" ")[1]+","+counts[feature.id]["centroid"].split("(")[1].split(" ")[0]+'&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure acres/hectares on map</a></iframe></div><div id="foo" class = "popup"</div>')
              .on('popupopen', function (e) {
                Plotly.newPlot('foo', [{
                x: counts[feature.id]["item"].slice(2,),
                y : counts[feature.id]["num"].slice(2,),
                // name: 'SF Zoo',
                type: 'bar',
                }],
                  {
                  autosize: true,
                  width: 400,
                  height: 300,
                  margin : {
                    l: 0,
                    r: 0
                  },
                  font : {
                    family:"Courier New, monospace",
                    size:7.5,
                }
          
            });});
                  }
                }).addTo(map);

            document.getElementById('lds-spinner').style.display = 'none';
        // } catch (e) { alert("Aucun résultat trouvé"); }
        // document.getElementById('lds-spinner').style.display = 'none';

        // window.myLayer.addData(data);       
    })
  
    

  }
</script>

<script type="text/javascript">
  var map = L.map('set_map').setView([48.9, 2.3360300], 10);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map); 
</script>

{% endblock %}

<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
