<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_524e2a5e2ec4e93b361ad15e84b3154b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_524e2a5e2ec4e93b361ad15e84b3154b" ></div>
        
</body>
<script>    
    
            var map_524e2a5e2ec4e93b361ad15e84b3154b = L.map(
                "map_524e2a5e2ec4e93b361ad15e84b3154b",
                {
                    center: [48.866667, 2.3333],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_443acb4446e298da0f53936e7d25c38f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            var circle_249e355098ae7c021389fb86b8d50906 = L.circle(
                [48.65725396165009, 2.369401107474852],
                {"bubblingMouseEvents": true, "color": "#FFBA00", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FFBA00", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1000, "stroke": true, "weight": 3}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            circle_249e355098ae7c021389fb86b8d50906.bindTooltip(
                `<div>
                     
    Ceci est un match parfait !<br>
    Dans cette zone,se trouvent <b>10</b> commerce(s), <b>0</b> restaurant(s),<br> 
    <b>3</b> cinéma(s), <b>0</b> bibliothèque(s), <b>0</b> aire(s) de jeux,<br> 
    <b>1</b> installation(s) sportive(s), <b>0</b> jardin(s), <b>0</b> lieu(x) historique(s),<br> 
    <b>0</b> hébergement(s), <b>0</b> école(s), <b>0</b>  lieu(x) de santé,<br> 
    <b>0</b> banque(s), <b>0</b> service(s) public(s), <b>0</b> toilette(s),<br> 
    <b>0</b> station(s) d'eau potable, <b>0</b> défibrillateur(s),<br> 
    <b>3</b> équipement(s) anti-incendie, <b>0</b> station(s) de covoiturage, <br>
    <b>3</b> parking(s), <b>0</b> borne(s) de chargement, <br>
    <b>0</b> station(s) de taxi et <b>0</b> station(s) essence
    
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_69cad4864d92627b7fe810572aeb11e6 = L.circle(
                [48.67522026725822, 2.234545381129947],
                {"bubblingMouseEvents": true, "color": "#087FBF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#087FBF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1000, "stroke": true, "weight": 3}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            circle_69cad4864d92627b7fe810572aeb11e6.bindTooltip(
                `<div>
                     
    Ce n'est pas un match parfait !<br>
        Dans cette zone,se trouvent <b>10</b> commerce(s), <b>0</b> restaurant(s),<br> 
    <b>3</b> cinéma(s), <b>0</b> bibliothèque(s), <b>0</b> aire(s) de jeux,<br> 
    <b>1</b> installation(s) sportive(s), <b>0</b> jardin(s), <b>0</b> lieu(x) historique(s),<br> 
    <b>0</b> hébergement(s), <b>0</b> école(s), <b>0</b>  lieu(x) de santé,<br> 
    <b>0</b> banque(s), <b>0</b> service(s) public(s), <b>0</b> toilette(s),<br> 
    <b>0</b> station(s) d'eau potable, <b>0</b> défibrillateur(s),<br> 
    <b>3</b> équipement(s) anti-incendie, <b>0</b> station(s) de covoiturage, <br>
    <b>4</b> parking(s), <b>0</b> borne(s) de chargement, <br>
    <b>0</b> station(s) de taxi et <b>0</b> station(s) essence
    
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_a24dc83239f09f7890cb6690eeb6f09e = L.circle(
                [49.04352953258247, 1.9558818662600743],
                {"bubblingMouseEvents": true, "color": "#087FBF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#087FBF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1000, "stroke": true, "weight": 3}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            circle_a24dc83239f09f7890cb6690eeb6f09e.bindTooltip(
                `<div>
                     
    Ce n'est pas un match parfait !<br>
        Dans cette zone,se trouvent <b>10</b> commerce(s), <b>0</b> restaurant(s),<br> 
    <b>3</b> cinéma(s), <b>0</b> bibliothèque(s), <b>0</b> aire(s) de jeux,<br> 
    <b>1</b> installation(s) sportive(s), <b>0</b> jardin(s), <b>0</b> lieu(x) historique(s),<br> 
    <b>0</b> hébergement(s), <b>0</b> école(s), <b>0</b>  lieu(x) de santé,<br> 
    <b>0</b> banque(s), <b>0</b> service(s) public(s), <b>0</b> toilette(s),<br> 
    <b>0</b> station(s) d'eau potable, <b>0</b> défibrillateur(s),<br> 
    <b>3</b> équipement(s) anti-incendie, <b>0</b> station(s) de covoiturage, <br>
    <b>4</b> parking(s), <b>0</b> borne(s) de chargement, <br>
    <b>0</b> station(s) de taxi et <b>0</b> station(s) essence
    
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_afc75a47d70868f2068a729143515ae8 = L.circle(
                [49.05251268539583, 1.9558818662600488],
                {"bubblingMouseEvents": true, "color": "#087FBF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#087FBF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1000, "stroke": true, "weight": 3}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            circle_afc75a47d70868f2068a729143515ae8.bindTooltip(
                `<div>
                     
    Ce n'est pas un match parfait !<br>
        Dans cette zone,se trouvent <b>10</b> commerce(s), <b>0</b> restaurant(s),<br> 
    <b>3</b> cinéma(s), <b>0</b> bibliothèque(s), <b>0</b> aire(s) de jeux,<br> 
    <b>1</b> installation(s) sportive(s), <b>0</b> jardin(s), <b>0</b> lieu(x) historique(s),<br> 
    <b>0</b> hébergement(s), <b>0</b> école(s), <b>0</b>  lieu(x) de santé,<br> 
    <b>0</b> banque(s), <b>0</b> service(s) public(s), <b>0</b> toilette(s),<br> 
    <b>0</b> station(s) d'eau potable, <b>0</b> défibrillateur(s),<br> 
    <b>3</b> équipement(s) anti-incendie, <b>0</b> station(s) de covoiturage, <br>
    <b>4</b> parking(s), <b>0</b> borne(s) de chargement, <br>
    <b>0</b> station(s) de taxi et <b>0</b> station(s) essence
    
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_b65f721c820184843acbf29eb3a914f5 = L.circle(
                [48.953698004520014, 2.468303596363908],
                {"bubblingMouseEvents": true, "color": "#087FBF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#087FBF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1000, "stroke": true, "weight": 3}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            circle_b65f721c820184843acbf29eb3a914f5.bindTooltip(
                `<div>
                     
    Ce n'est pas un match parfait !<br>
        Dans cette zone,se trouvent <b>10</b> commerce(s), <b>0</b> restaurant(s),<br> 
    <b>4</b> cinéma(s), <b>0</b> bibliothèque(s), <b>0</b> aire(s) de jeux,<br> 
    <b>1</b> installation(s) sportive(s), <b>0</b> jardin(s), <b>0</b> lieu(x) historique(s),<br> 
    <b>0</b> hébergement(s), <b>0</b> école(s), <b>0</b>  lieu(x) de santé,<br> 
    <b>0</b> banque(s), <b>0</b> service(s) public(s), <b>0</b> toilette(s),<br> 
    <b>0</b> station(s) d'eau potable, <b>0</b> défibrillateur(s),<br> 
    <b>3</b> équipement(s) anti-incendie, <b>0</b> station(s) de covoiturage, <br>
    <b>3</b> parking(s), <b>0</b> borne(s) de chargement, <br>
    <b>0</b> station(s) de taxi et <b>0</b> station(s) essence
    
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_f58738fcb8591e205cbf555d424d82c4 = L.circle(
                [48.80996755951613, 2.558221317088777],
                {"bubblingMouseEvents": true, "color": "#087FBF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#087FBF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1000, "stroke": true, "weight": 3}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            circle_f58738fcb8591e205cbf555d424d82c4.bindTooltip(
                `<div>
                     
    Ce n'est pas un match parfait !<br>
        Dans cette zone,se trouvent <b>10</b> commerce(s), <b>0</b> restaurant(s),<br> 
    <b>3</b> cinéma(s), <b>0</b> bibliothèque(s), <b>0</b> aire(s) de jeux,<br> 
    <b>1</b> installation(s) sportive(s), <b>0</b> jardin(s), <b>0</b> lieu(x) historique(s),<br> 
    <b>0</b> hébergement(s), <b>0</b> école(s), <b>0</b>  lieu(x) de santé,<br> 
    <b>0</b> banque(s), <b>0</b> service(s) public(s), <b>0</b> toilette(s),<br> 
    <b>0</b> station(s) d'eau potable, <b>0</b> défibrillateur(s),<br> 
    <b>3</b> équipement(s) anti-incendie, <b>0</b> station(s) de covoiturage, <br>
    <b>4</b> parking(s), <b>0</b> borne(s) de chargement, <br>
    <b>0</b> station(s) de taxi et <b>0</b> station(s) essence
    
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_7c9ec5151e42ec5e3d548cccd67f17ae = L.circle(
                [49.05251268539697, 1.96487025573241],
                {"bubblingMouseEvents": true, "color": "#087FBF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#087FBF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1000, "stroke": true, "weight": 3}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            circle_7c9ec5151e42ec5e3d548cccd67f17ae.bindTooltip(
                `<div>
                     
    Ce n'est pas un match parfait !<br>
        Dans cette zone,se trouvent <b>10</b> commerce(s), <b>0</b> restaurant(s),<br> 
    <b>3</b> cinéma(s), <b>0</b> bibliothèque(s), <b>0</b> aire(s) de jeux,<br> 
    <b>1</b> installation(s) sportive(s), <b>0</b> jardin(s), <b>0</b> lieu(x) historique(s),<br> 
    <b>0</b> hébergement(s), <b>0</b> école(s), <b>0</b>  lieu(x) de santé,<br> 
    <b>0</b> banque(s), <b>0</b> service(s) public(s), <b>0</b> toilette(s),<br> 
    <b>0</b> station(s) d'eau potable, <b>0</b> défibrillateur(s),<br> 
    <b>3</b> équipement(s) anti-incendie, <b>0</b> station(s) de covoiturage, <br>
    <b>4</b> parking(s), <b>0</b> borne(s) de chargement, <br>
    <b>0</b> station(s) de taxi et <b>0</b> station(s) essence
    
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_2ed97d58c91b84295c1b5c4f9032dbdb = L.circle(
                [48.95369800452144, 2.4772950915488847],
                {"bubblingMouseEvents": true, "color": "#087FBF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#087FBF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1000, "stroke": true, "weight": 3}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            circle_2ed97d58c91b84295c1b5c4f9032dbdb.bindTooltip(
                `<div>
                     
    Ce n'est pas un match parfait !<br>
        Dans cette zone,se trouvent <b>10</b> commerce(s), <b>0</b> restaurant(s),<br> 
    <b>4</b> cinéma(s), <b>0</b> bibliothèque(s), <b>0</b> aire(s) de jeux,<br> 
    <b>1</b> installation(s) sportive(s), <b>0</b> jardin(s), <b>0</b> lieu(x) historique(s),<br> 
    <b>0</b> hébergement(s), <b>0</b> école(s), <b>0</b>  lieu(x) de santé,<br> 
    <b>0</b> banque(s), <b>0</b> service(s) public(s), <b>0</b> toilette(s),<br> 
    <b>0</b> station(s) d'eau potable, <b>0</b> défibrillateur(s),<br> 
    <b>3</b> équipement(s) anti-incendie, <b>0</b> station(s) de covoiturage, <br>
    <b>3</b> parking(s), <b>0</b> borne(s) de chargement, <br>
    <b>0</b> station(s) de taxi et <b>0</b> station(s) essence
    
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_1cce062e23b7b0cd912933d7cecb518d = L.circle(
                [48.68420342007352, 2.243535370079976],
                {"bubblingMouseEvents": true, "color": "#087FBF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#087FBF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1000, "stroke": true, "weight": 3}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            circle_1cce062e23b7b0cd912933d7cecb518d.bindTooltip(
                `<div>
                     
    Ce n'est pas un match parfait !<br>
        Dans cette zone,se trouvent <b>10</b> commerce(s), <b>0</b> restaurant(s),<br> 
    <b>3</b> cinéma(s), <b>0</b> bibliothèque(s), <b>0</b> aire(s) de jeux,<br> 
    <b>1</b> installation(s) sportive(s), <b>0</b> jardin(s), <b>0</b> lieu(x) historique(s),<br> 
    <b>0</b> hébergement(s), <b>0</b> école(s), <b>0</b>  lieu(x) de santé,<br> 
    <b>0</b> banque(s), <b>0</b> service(s) public(s), <b>0</b> toilette(s),<br> 
    <b>0</b> station(s) d'eau potable, <b>0</b> défibrillateur(s),<br> 
    <b>3</b> équipement(s) anti-incendie, <b>0</b> station(s) de covoiturage, <br>
    <b>4</b> parking(s), <b>0</b> borne(s) de chargement, <br>
    <b>0</b> station(s) de taxi et <b>0</b> station(s) essence
    
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_94996baa1141a4d4b0ac8660be289260 = L.circle(
                [49.05251268539473, 1.9468935248303103],
                {"bubblingMouseEvents": true, "color": "#087FBF", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#087FBF", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1000, "stroke": true, "weight": 3}
            ).addTo(map_524e2a5e2ec4e93b361ad15e84b3154b);
        
    
            circle_94996baa1141a4d4b0ac8660be289260.bindTooltip(
                `<div>
                     
    Ce n'est pas un match parfait !<br>
        Dans cette zone,se trouvent <b>10</b> commerce(s), <b>0</b> restaurant(s),<br> 
    <b>3</b> cinéma(s), <b>0</b> bibliothèque(s), <b>0</b> aire(s) de jeux,<br> 
    <b>1</b> installation(s) sportive(s), <b>0</b> jardin(s), <b>0</b> lieu(x) historique(s),<br> 
    <b>0</b> hébergement(s), <b>0</b> école(s), <b>0</b>  lieu(x) de santé,<br> 
    <b>0</b> banque(s), <b>0</b> service(s) public(s), <b>0</b> toilette(s),<br> 
    <b>0</b> station(s) d'eau potable, <b>0</b> défibrillateur(s),<br> 
    <b>3</b> équipement(s) anti-incendie, <b>0</b> station(s) de covoiturage, <br>
    <b>4</b> parking(s), <b>0</b> borne(s) de chargement, <br>
    <b>0</b> station(s) de taxi et <b>0</b> station(s) essence
    
                 </div>`,
                {"sticky": true}
            );
        
</script>