h1 {
    font-size:72px;
    color: red!important
}

.section_header {
    border-bottom: solid 0.5px rgba(0,0,0, 0.1);
    padding-top: 5px;
    padding-bottom: 5px;
    position:relative
}

.section_category {
    margin-bottom: 8px
}

#folium_map {
    width: 100%;
    min-height:45em;
}

#map{
    width: 100%;
    min-height:40em;    
}

li {
    color: black;
    font-size: 1em
}

.folium_map span {
    color: white
}

.collapsible {
    border: none;
    border-radius: 50%;
    background-color: white;
    margin-top:5px;
    position: absolute;
    bottom: 8px;
    left: 340px;    
}

#set_map {
	width: 100%;
    min-height:58em;
    position: relative;
}

#but{
    position: relative;
    top:10px
}

#carouselExampleDark{
    width: 100%;
    color:black;
    min-height:58em;
    margin: auto;
    font-family: Georgia, serif;
}
.carousel-item img{
    width: 100%;
    color: black;
    height: auto;
    opacity: .4;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-caption {
    position: absolute;
    top:300px
}

.carousel-indicators
{   position: absolute;
    top:10px
} 

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    /* background-color: #ccc; */
    /* min-height: 100px; */
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    /* padding: 0 18px; */
    display: none;
    overflow: hidden;
    border-bottom: solid 0.5px rgba(0,0,0, 0.2);
    padding-bottom: 10px 
    /* background-color: #f1f1f1;
    height: 300px;*/
  }


.filter {
    position: absolute;
    bottom: 20px;
    z-index: 1000;
    margin-left: 10px
}

#menu
{
    position: absolute;
    bottom: 20px;
    z-index: 1000;
    margin-left: 120px
}

#menu_right
{
    position: absolute;
    bottom: 20px;
    z-index: 1000;
    margin-left: 90px
}

.parent {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height:50em;

  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;

  }

#form-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* form {
	width: 90%;
	max-width: 500px;
    #form-title {
		margin-top: 0;
		font-weight: 400;
		text-align: center;
	} */


#lds-spinner {
    color: blue;
    /* display: inline-block; */
    /* position: relative; */
    width: 80px;
    height: 80px;
    display: none;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    z-index: 1000
  }
  #lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  #lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: blue;
  }
  #lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  #lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  #lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  #lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  #lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  #lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  #lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  #lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  #lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  #lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  #lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  #lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


#foo {
    width: 300px;
    height: 150px;
}

.leaflet-popup-content-wrapper {
    height: 850px;
    width: 450px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#chart{
  /* display: none */
}


#myGrid {
  width: 420px!important;
} 



#options_graph {
  display: none;
  margin-top: 20px;
  margin-bottom: 10px
}


div.ag-theme-alpine div.ag-row {
  font-size: 11px !important;
}

#gmap {
  margin-top: 20px
}
